body {
	background-image: url("../img/rps-main.jpg");
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	font-family: 'Roboto', sans-serif !important;
}

.container {
    padding-top: 20px;
}

.spacer-s {
    padding-top: 15px;
}

.spacer-m {
    padding-top: 30px;
}

.spacer-l {
    padding-top: 60px;
}

.spacer-xl {
    padding-top: 90px;
}

